#benefits__section {
  height: 100%;
  background-color: var(--light-grey);

  position: relative;

  .container {
    display: grid;
    row-gap: 3rem;
    position: relative;
    z-index: 500;

    .benefits-items {
      display: grid;
      row-gap: 3rem;
    }
  }
}